@font-face {
  font-family: "Robo";
  src: url("assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Menlo";
  src: url("assets/fonts/Menlo-Regular.ttf");
}

html, body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  text-decoration: none;
}

#home {
  width: 100vw;
  height: 100vh;
}

#title {
  top: 50%; 
  font-family: "Robo";
  font-size: 90px;
}

#git {
  top: 75%;
  padding: 10px;
  border-radius: 10px;
  background-color: #EBEBEB;
  display: flex;
  font-family: "Menlo";
}

#git > p {
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
}

.mid {
  right: 50%;
  position: absolute;
  transform: translate(50%, -50%);
}

#about {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(235, 235, 235, 0.75);
  font-family: "Menlo";
  animation-name: settings-appear;
  animation-duration: 0.5s;
  display: none;
}

@keyframes settings-appear {
  from {
    background-color: rgba(235, 235, 235, 0);
  }
  to {
    background-color: rgba(235, 235, 235, 0.75);
  }
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  z-index: 2;
}